Node red flows .json
[{"id":"c1896b05ef8f6d0f","type":"ui_form","z":"f27592219775333a","name":"","label":"","group":"cbe680c1f7f0648d","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"p","type":"number","required":true,"rows":null},{"label":"Glucose Level","value":"g","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"s","type":"number","required":true,"rows":null},{"label":"Insulin","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"d","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","g":"","bp":"","s":"","i":"","b":"","d":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":140,"wires":[["666b188b41c3690e"]]},{"id":"52630aa78125baeb","type":"debug","z":"f27592219775333a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"666b188b41c3690e","type":"function","z":"f27592219775333a","name":"global variables for form node","func":"global.set(\"Pregnancies\",msg.payload.p)\nglobal.set(\"Glucoselevel\",msg.payload.g)\nglobal.set(\"BloodPressure\",msg.payload.bp)\nglobal.set(\"SkinThickness\",msg.payload.s)\nglobal.set(\"Insulin\",msg.payload.i)\nglobal.set(\"BMI\",msg.payload.b)\nglobal.set(\"PedigreeFunction\",msg.payload.d)\nglobal.set(\"Age\",msg.payload.a)\nvar apikey = \"DmnXDg5wB4PInQQULJ0L9UottCd9P03NsdWRFdUnwDGj\"\nmsg.headers = {\"Content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["52630aa78125baeb","1bd1f7cc6c194aa3"]]},{"id":"1bd1f7cc6c194aa3","type":"http request","z":"f27592219775333a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":180,"wires":[["137a6fa7599d6aa4","91e6b6050123c725"]]},{"id":"137a6fa7599d6aa4","type":"debug","z":"f27592219775333a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"91e6b6050123c725","type":"function","z":"f27592219775333a","name":"","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucoselevel = global.get(\"Glucoselevel\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar PedigreeFunction = global.get(\"PedigreeFunction\")\nvar Age = global.get(\"Age\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-type':'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload = {\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"preg\",\n\t\t\t\t\" plas\",\n\t\t\t\t\"pres\",\n\t\t\t\t\"Skin \",\n\t\t\t\t\"test\",\n\t\t\t\t\"mass\",\n\t\t\t\t\"pedi\",\n\t\t\t\t\"age\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tPregnancies,\n\t\t\t\t\tGlucoselevel,\n\t\t\t\t\tBloodPressure,\n\t\t\t\t\tSkinThickness,\n\t\t\t\t\tInsulin,\n\t\t\t\t\tBMI,\n\t\t\t\t\tPedigreeFunction,\n\t\t\t\t\tAge\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":140,"wires":[["16181b86e5e352f1"]]},{"id":"16181b86e5e352f1","type":"http request","z":"f27592219775333a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c95590cc-4494-420b-a35f-af1cd50916f1/predictions?version=2022-02-27","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1050,"y":140,"wires":[["800e28c84db52dbc","e38232b6f5bb0749"]]},{"id":"800e28c84db52dbc","type":"debug","z":"f27592219775333a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":260,"wires":[]},{"id":"e38232b6f5bb0749","type":"function","z":"f27592219775333a","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":140,"wires":[["33fae3f01faa4526","6a0639228514a649"]]},{"id":"33fae3f01faa4526","type":"debug","z":"f27592219775333a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":240,"wires":[]},{"id":"6a0639228514a649","type":"ui_text","z":"f27592219775333a","group":"cbe680c1f7f0648d","order":2,"width":0,"height":0,"name":"","label":"Prediction : (Above 0.6 - Diabetic)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1600,"y":140,"wires":[]},{"id":"cbe680c1f7f0648d","type":"ui_group","name":"Enter the details","tab":"4318404fdceb161c","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"4318404fdceb161c","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]